<!DOCTYPE html>
<html>
  <head>
    <title>Spirit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="width-control">
      <div class="logo bottom-50">
      <h1><%= link_to "Spirit", welcome_index_path(@welcome) %></h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
