<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @booking.details %>
</p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Company:</strong>
  <%= @booking.company %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @booking.event_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Bar type:</strong>
  <%= @booking.bar_type %>
</p>

<p>
  <strong>Add ons:</strong>
  <%= @booking.add_ons %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>Guests:</strong>
  <%= @booking.guests %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>Permit:</strong>
  <%= @booking.permit %>
</p>

<p>
  <strong>Additional:</strong>
  <%= @booking.additional %>
</p>

<p>
  <strong>Details:</strong>
  <%= @booking.details %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
