<div class="row bottom-50">

</div>
<div class="row text-center bottom-50">
  <div class="col-sm-12 hero">
    <%= image_tag "cocktail-header-left.svg", class: "header-icons-left"  %>
    <%= image_tag "cocktail-header-right.svg", class: "header-icons-right"  %>
    <h2 class="heading bottom-50">Build Your Bar.</h2>
    <%= link_to 'Get Started', new_booking_path, :class => "primary-button" %>
  </div>
</div>
<div class="row bottom-50">
  <div class="col-sm-8 col-sm-offset-2 home-feature">
    <div class="col-sm-6"><%= image_tag "chemistry.svg", class: "home-illustration home-illustration-1" %></div>
    <div class="col-sm-6">
      <h3 class="feature-heading">Build Your Bar</h3>
      <p>Get started by clicking the "Play" button above & build your bar. SIPBAR includes a full bar setup with craft beer, wine, spirits, and certified bartenders.</p>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2 home-feature">
    <div class="col-sm-6 col-sm-push-6"><%= image_tag "calendar.svg", class: "home-illustration home-illustration-2"  %></div>
    <div class="col-sm-6 col-sm-pull-6 text-right-not-xs">
      <h3 class="feature-heading">Book Your Event</h3>
      <p>Tell us the date & time of your event, and the number of people you are expecting. Set the duration of your event to 2 hours or longer. </p>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2 home-feature">
    <div class="col-sm-6"><%= image_tag "camera.svg", class: "home-illustration home-illustration-3"  %></div>
    <div class="col-sm-6">
      <h3 class="feature-heading">Make Some Memories</h3>
      <p>Do less to impress! Just book your SIPBAR and let us take care of the rest. We set up an incredible bar experience with premium products for any event.</p>
    </div>
  </div>
</div>
<div class="row bottom-50">
  <div class="col-sm-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est.</p>
  </div>
  <div class="col-sm-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>

</div>
